@font-face {
    font-family: 'Lobster Two';
    font-weight: 400;
    font-style: normal;
    src: local('Lobster Two'), url('//cdn.initial-website.com/s/fonts/Lobster_Two/LobsterTwo-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Lobster Two';
    font-weight: 700;
    font-style: normal;
    src: local('Lobster Two Bold'), url('//cdn.initial-website.com/s/fonts/Lobster_Two/LobsterTwo-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Lobster Two';
    font-weight: 400;
    font-style: italic;
    src: local('Lobster Two Italic'), url('//cdn.initial-website.com/s/fonts/Lobster_Two/LobsterTwo-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Lobster Two';
    font-weight: 700;
    font-style: italic;
    src: local('Lobster Two Bold Italic'), url('//cdn.initial-website.com/s/fonts/Lobster_Two/LobsterTwo-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: local('Raleway'), url('//cdn.initial-website.com/s/fonts/Raleway/Raleway-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: local('Raleway Bold'), url('//cdn.initial-website.com/s/fonts/Raleway/Raleway-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: italic;
    src: local('Raleway Italic'), url('//cdn.initial-website.com/s/fonts/Raleway/Raleway-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: italic;
    src: local('Raleway Bold Italic'), url('//cdn.initial-website.com/s/fonts/Raleway/Raleway-BoldItalic.woff') format('woff');
}

html body {
  background-color: #bcd8b7;
}
body.diyBgActive .diyw .diyweb {
  background-image: none !important;
  background-color: transparent !important;
}
.diyw .diyweb {
  background-color: transparent !important;
}
.diyw .diyweb,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA0,
.diyw .diyfeCA0 {
  background-color: #bcd8b7;
  color: #131612;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA0 h1 {
  color: #131612;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA0 h2 {
  color: #131612;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA0 p {
  color: #131612;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA0 a {
  color: #131612;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyweb .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA0 .diyfeLinkAsButton {
  background: #131612;
  color: #e2e3e2;
  border: solid 1px #131612;
}
.diyw .diyweb .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA0 .mainNav1 a {
  color: #131612;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA0 .mainNav2 a {
  color: #131612;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA0 .hr {
  border-color: #6ba560;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA1,
.diyw .diyfeCA1 {
  background-color: #222321;
  color: #acaeaa;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 9.8px;
  font-weight: bold;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA1 h1 {
  color: #cecfcd;
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 41.6px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA1 .h1-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA1 h2 {
  color: #cecfcd;
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 20.8px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA1 .h2-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA1 p {
  color: #acaeaa;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 9.8px;
  font-weight: bold;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA1 a {
  color: #73a056;
  font-style: italic;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA1 .diyfeLinkAsButton {
  background: #73a056;
  color: #f1f6ee;
  border: solid 1px #73a056;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA1 .mainNav1 a {
  color: #dadad9;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA1 .mainNav2 a {
  color: #dadad9;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA1 .hr {
  border-color: #676a64;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA2,
.diyw .diyfeCA2 {
  background-color: #73a056;
  color: #f1f6ee;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA2 h1 {
  color: #f1f6ee;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA2 h2 {
  color: #f1f6ee;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA2 p {
  color: #f1f6ee;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA2 a {
  color: #f1f6ee;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA2 .diyfeLinkAsButton {
  background: #f1f6ee;
  color: #222720;
  border: solid 1px #f1f6ee;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA2 .mainNav1 a {
  color: #cecfcd;
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA2 .mainNav2 a {
  color: #f1f6ee;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA2 .hr {
  border-color: #bcd3ad;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA3,
.diyw .diyfeCA3 {
  background-color: #e8f7e6;
  color: #68ca5b;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA3 h1 {
  color: #31592c;
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 36.4px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA3 h2 {
  color: #31592c;
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 20.8px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA3 p {
  color: #68ca5b;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA3 a {
  color: #73a056;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA3 .diyfeLinkAsButton {
  background: #73a056;
  color: #f1f6ee;
  border: solid 1px #73a056;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA3 .mainNav1 a {
  color: #2a4826;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA3 .mainNav2 a {
  color: #54b047;
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA3 .hr {
  border-color: #88d67e;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA4,
.diyw .diyfeCA4 {
  background-color: #53a546;
  color: #eef6ed;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA4 h1 {
  color: #eef6ed;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA4 h2 {
  color: #eef6ed;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA4 p {
  color: #eef6ed;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA4 a {
  color: #eef6ed;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA4 .diyfeLinkAsButton {
  background: #eef6ed;
  color: #20271f;
  border: solid 1px #eef6ed;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA4 .mainNav1 a {
  color: #eef6ed;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA4 .mainNav2 a {
  color: #eef6ed;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA4 .hr {
  border-color: #a7d59f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyweb div#contentfooter {
  font-size: inherit;
  font-weight: inherit;
}
.diyw #website-logo a {
  text-decoration: none !important;
}
.diyw .diyfeCA0 #website-logo p.website-logo-text,
.diyw .diyfeCA0 #website-logo p.website-logo-text a {
  color: #131612 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeCA1 #website-logo p.website-logo-text,
.diyw .diyfeCA1 #website-logo p.website-logo-text a {
  color: #acaeaa !important;
  font-family: 'Raleway', sans-serif;
}
.diyw .diyfeCA2 #website-logo p.website-logo-text,
.diyw .diyfeCA2 #website-logo p.website-logo-text a {
  color: #cecfcd !important;
  font-family: Verdana, Geneva, sans-serif;
}
.diyw .diyfeCA3 #website-logo p.website-logo-text,
.diyw .diyfeCA3 #website-logo p.website-logo-text a {
  color: #68ca5b !important;
  font-family: 'Raleway', sans-serif;
}
.diyw .diyfeCA4 #website-logo p.website-logo-text,
.diyw .diyfeCA4 #website-logo p.website-logo-text a {
  color: #eef6ed !important;
  font-family: 'Raleway', sans-serif;
}
.diyw .diyfeLinkAsButton {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none !important;
}
.diyw .diyfeLinkAsButton:hover {
  box-shadow: 0 0 0 2px inset;
}
.diyw .imageSubtitle {
  min-width: 30px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeColor0,
.diyw .diyfeColor0 {
  background-color: #bcd8b7;
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeColor0 h1,
.diyw .diyfeColor0 h1 {
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeColor0 h2,
.diyw .diyfeColor0 h2 {
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeColor0 p,
.diyw .diyfeColor0 p {
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeColor0 a,
.diyw .diyfeColor0 a {
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeColor0 .diyfeLinkAsButton {
  background: #131612;
  color: #e2e3e2;
  border: solid 1px #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeColor0 .mainNav1 a {
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeColor0 .mainNav2 a {
  color: #131612;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeColor0 .hr {
  border-color: #6ba560;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeColor1,
.diyw .diyfeColor1 {
  background-color: #222321;
  color: #acaeaa;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeColor1 h1,
.diyw .diyfeColor1 h1 {
  color: #cecfcd;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeColor1 h2,
.diyw .diyfeColor1 h2 {
  color: #cecfcd;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeColor1 p,
.diyw .diyfeColor1 p {
  color: #acaeaa;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeColor1 a,
.diyw .diyfeColor1 a {
  color: #73a056;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeColor1 .diyfeLinkAsButton {
  background: #73a056;
  color: #f1f6ee;
  border: solid 1px #73a056;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeColor1 .mainNav1 a {
  color: #dadad9;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeColor1 .mainNav2 a {
  color: #dadad9;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeColor1 .hr {
  border-color: #676a64;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeColor2,
.diyw .diyfeColor2 {
  background-color: #73a056;
  color: #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeColor2 h1,
.diyw .diyfeColor2 h1 {
  color: #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeColor2 h2,
.diyw .diyfeColor2 h2 {
  color: #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeColor2 p,
.diyw .diyfeColor2 p {
  color: #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeColor2 a,
.diyw .diyfeColor2 a {
  color: #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeColor2 .diyfeLinkAsButton {
  background: #f1f6ee;
  color: #222720;
  border: solid 1px #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeColor2 .mainNav1 a {
  color: #cecfcd;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeColor2 .mainNav2 a {
  color: #f1f6ee;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeColor2 .hr {
  border-color: #bcd3ad;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeColor3,
.diyw .diyfeColor3 {
  background-color: #e8f7e6;
  color: #68ca5b;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeColor3 h1,
.diyw .diyfeColor3 h1 {
  color: #31592c;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeColor3 h2,
.diyw .diyfeColor3 h2 {
  color: #31592c;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeColor3 p,
.diyw .diyfeColor3 p {
  color: #68ca5b;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeColor3 a,
.diyw .diyfeColor3 a {
  color: #73a056;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeColor3 .diyfeLinkAsButton {
  background: #73a056;
  color: #f1f6ee;
  border: solid 1px #73a056;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeColor3 .mainNav1 a {
  color: #2a4826;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeColor3 .mainNav2 a {
  color: #54b047;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeColor3 .hr {
  border-color: #88d67e;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeColor4,
.diyw .diyfeColor4 {
  background-color: #53a546;
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeColor4 h1,
.diyw .diyfeColor4 h1 {
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeColor4 h2,
.diyw .diyfeColor4 h2 {
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeColor4 p,
.diyw .diyfeColor4 p {
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeColor4 a,
.diyw .diyfeColor4 a {
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeColor4 .diyfeLinkAsButton {
  background: #eef6ed;
  color: #20271f;
  border: solid 1px #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeColor4 .mainNav1 a {
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeColor4 .mainNav2 a {
  color: #eef6ed;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeColor4 .hr {
  border-color: #a7d59f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeFont0,
.diyw .diyfeFont0 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeFont0 h1,
.diyw .diyfeFont0 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeFont0 h2,
.diyw .diyfeFont0 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeFont0 p,
.diyw .diyfeFont0 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeFont0 a,
.diyw .diyfeFont0 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeFont0 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeFont0 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeFont1,
.diyw .diyfeFont1 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 9.8px;
  font-weight: bold;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeFont1 h1,
.diyw .diyfeFont1 h1 {
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 41.6px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeFont1 h2,
.diyw .diyfeFont1 h2 {
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 20.8px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeFont1 p,
.diyw .diyfeFont1 p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 9.8px;
  font-weight: bold;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeFont1 a,
.diyw .diyfeFont1 a {
  font-style: italic;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeFont1 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeFont1 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeFont2,
.diyw .diyfeFont2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeFont2 h1,
.diyw .diyfeFont2 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeFont2 h2,
.diyw .diyfeFont2 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeFont2 p,
.diyw .diyfeFont2 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeFont2 a,
.diyw .diyfeFont2 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeFont2 .mainNav1 a {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeFont2 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeFont3,
.diyw .diyfeFont3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeFont3 h1,
.diyw .diyfeFont3 h1 {
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 36.4px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeFont3 h2,
.diyw .diyfeFont3 h2 {
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-size: 20.8px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeFont3 p,
.diyw .diyfeFont3 p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeFont3 a,
.diyw .diyfeFont3 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeFont3 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeFont3 .mainNav2 a {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeFont4,
.diyw .diyfeFont4 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeFont4 h1,
.diyw .diyfeFont4 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeFont4 h2,
.diyw .diyfeFont4 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeFont4 p,
.diyw .diyfeFont4 p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 8.4px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeFont4 a,
.diyw .diyfeFont4 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeFont4 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeFont4 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
body.startpage .diyw .diywebFooter .webnavigation a,
body.startpage .diyw .diywebFooter .diywebNav a {
  color: #eef6ed !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: 8.4px !important;
}
body.facebookTab .diyw #diyFbBoxPage {
  margin-left: 0 !important;
  width: 100% !important;
  overflow: auto !important;
}
body.facebookTab .diyw #diyFbBoxWin,
body.facebookTab .diyw #diyFbBoxPage,
body.facebookTab .diyw #diyFbBoxBody,
body.facebookTab .diyw .diyweb {
  height: 100% !important;
}
body.facebookTab .diyw .diywebEmotionHeader,
body.facebookTab .diyw .diywebHeader,
body.facebookTab .diyw .diywebFond,
body.facebookTab .diyw .diywebSecondary,
body.facebookTab .diyw .diywebSidebar,
body.facebookTab .diyw .diywebFooter,
body.facebookTab .diyw .diywebContent .diyfeGridGroup:before,
body.facebookTab .diyw .diywebNav {
  display: none;
}
body.facebookTab .diyw .diywebMain {
  width: auto;
  float: none;
  padding-top: 0.1px;
}
body.facebookTab .diyw .diywebLiveArea,
body.facebookTab .diyw .diyweb:before {
  width: auto;
}
body.facebookTab .diyw .diyweb {
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
body.facebookTab .diyw .diywebContainer {
  width: auto;
  box-sizing: border-box;
}
body.facebookTab .diyw {
  height: 100%;
  box-sizing: border-box;
}
body.facebookTab .diyw #diyFbBoxBody div.sortable-matrix {
  width: auto !important;
}
.diyw .diyApp .app-border {
  border: solid 1px #676a64;
}
.diyw .diyApp .app-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.diyw .diyApp .app-gradient {
  background: #676a64;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#676a64),color-stop(1,#9a9d97));
  background: -ms-linear-gradient(bottom,#676a64,#9a9d97);
  background: -moz-linear-gradient(center bottom,#676a64 0%,#9a9d97 100%);
  background: -o-linear-gradient(#9a9d97,#676a64);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a9d97', endColorstr='#676a64', GradientType=0);
}
.diyw .diyApp [class^="icon-"],
.diyw .diyApp [class*=" icon-"] {
  color: #acaeaa !important;
}
.diyw .diyApp [class^="icon-"].active,
.diyw .diyApp [class*=" icon-"].active {
  color: #73a056 !important;
}
.diyw .diyApp .app-navbar-default {
  background: #676a64;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#676a64),color-stop(1,#9a9d97));
  background: -ms-linear-gradient(bottom,#676a64,#9a9d97);
  background: -moz-linear-gradient(center bottom,#676a64 0%,#9a9d97 100%);
  background: -o-linear-gradient(#9a9d97,#676a64);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a9d97', endColorstr='#676a64', GradientType=0);
  border: solid 1px #676a64;
}
.diyw .diyApp .app-navbar-highlight {
  background: #73a056;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#73a056),color-stop(1,#a9c696));
  background: -ms-linear-gradient(bottom,#73a056,#a9c696);
  background: -moz-linear-gradient(center bottom,#73a056 0%,#a9c696 100%);
  background: -o-linear-gradient(#a9c696,#73a056);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9c696', endColorstr='#73a056', GradientType=0);
  border: solid 1px #73a056;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  background: #fff;
  color: #acaeaa;
  border: solid 1px #acaeaa;
}
.diyw .diyApp .app-container,
.diyw .diyApp .app-container-background,
.diyw .diyApp .app-container-background-highlight,
.diyw .diyApp .app-container-background-light {
  padding: 10px;
  margin: 10px 0;
}
.diyw .diyApp .app-container-background {
  background: #676a64;
}
.diyw .diyApp .app-container-background-highlight {
  background: #73a056;
}
.diyw .diyApp .app-container-background-light {
  background: #9a9d97;
}
.diyw .diyApp .app-button-background {
  border: solid 1px #acaeaa;
  color: #222321;
  background: #acaeaa;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#acaeaa),color-stop(1,#dfdfde));
  background: -ms-linear-gradient(bottom,#acaeaa,#dfdfde);
  background: -moz-linear-gradient(center bottom,#acaeaa 0%,#dfdfde 100%);
  background: -o-linear-gradient(#dfdfde,#acaeaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfde', endColorstr='#acaeaa', GradientType=0);
}
.diyw .diyApp .app-button-disabled {
  cursor: none !important;
}
.diyw .diyApp .app-button-disabled.app-button-background {
  color: #676965;
}
.diyw .diyApp .app-button-disabled.app-button-primary {
  color: #bcd3ad;
}
.diyw .diyApp .app-button-primary {
  border: solid 1px #435e32;
  color: #222321;
  background: #435e32;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#435e32),color-stop(1,#73a056));
  background: -ms-linear-gradient(bottom,#435e32,#73a056);
  background: -moz-linear-gradient(center bottom,#435e32 0%,#73a056 100%);
  background: -o-linear-gradient(#73a056,#435e32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a056', endColorstr='#435e32', GradientType=0);
}
.diyw .diyApp .app-navbar,
.diyw .diyApp .app-header {
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.diyw .diyApp .app-navbar-group,
.diyw .diyApp .app-header-group,
.diyw .diyApp .app-navbar-left {
  float: left;
}
.diyw .diyApp .app-navbar-right,
.diyw .diyApp .app-header-right {
  float: right;
}
.diyw .diyApp .app-navbar-group {
  margin-right: 10px;
  overflow: hidden;
}
.diyw .diyApp .app-navbar-group.app-navbar-right {
  margin-right: 0;
}
.diyw .diyApp .app-header {
  border-bottom: solid 1px;
}
.diyw .diyApp .app-button-group {
  display: table-row;
}
.diyw .diyApp .app-button-group > * {
  display: table-cell;
}
.diyw .diyApp .app-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
}
.diyw .diyApp .app-button-group label,
.diyw .diyApp .app-button {
  margin-bottom: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  padding: 3px;
}
.diyw .diyApp .app-navbar select option {
  padding-left: 10px;
  padding-right: 10px;
}
.diyw .diyweb:before {
  background-color: #222321;
}
.diyw .diywebContent .diyfeGridGroup:before,
.diyw .diywebHelperNav {
  background-color: #e8f7e6;
}
.diyw .mainNav1 a {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  position: relative;
  overflow: hidden;
}
.diyw .mainNav1 a.current {
  color: #f1f6ee !important;
}
.diyw .mainNav1 a.current,
.diyw .mainNav1 a.parent {
  color: #73a056 !important;
}
.diyw .mainNav2 a.current,
.diyw .mainNav3 a.current,
.diyw .mainNav2 a.parent,
.diyw .mainNav3 a.parent {
  color: #73a056 !important;
}
.diyw .mainNav1 a {
  text-shadow: none;
}
.diyw .mainNav1 > li a {
  border-right: 1px solid #cecfcd;
}
.diyw #diyfeMobileNav .mainNav1 > li a {
  border-right: none;
}
@media only screen and (min-width: 767px) {
  .diyw .mainNav1 a:hover {
    color: #73a056 !important;
    text-shadow: none;
    text-decoration: underline !important;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .diyw .mainNav1 a.level_1,
  .diyw .mainNav1 a.level_1.current {
    color: #f1f6ee !important;
  }
  .diyw .diyweb .diywebMainGutter {
    padding: 0 20px;
  }
}
.diyw .diywebNavMain .diywebGutter {
  border-bottom: 1px solid #444642;
}
.diyw #diywebAppContainer1st {
  font-style: normal;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
}
@media only screen and (max-width: 767px) {
  .diyw #diywebAppContainer1st {
    background-color: #73a056;
    color: #ffffff;
  }
  .diyw #diywebAppContainer1st .estore_productCount span {
    color: #73a056;
  }
}
@media only screen and (min-width: 768px) {
  .diyw #diywebAppContainer1st {
    color: #959792;
  }
  .diyw #diywebAppContainer1st .estore_productCount span {
    color: #222321;
  }
}

.body {
background-image: url('https://www.studio8wv.com/s/img/background.gif?1662021062');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: auto;
}
